body {
    margin: 0px 0px 0px 0px;
}

.site-wrapper {
    width: 100%;
    height: 100%;
}

.site-wrapper-inner {
    margin: 10px 10px 10px 10px;
    width: 100%;
    height: 100%;
}

#map-wrapper {
    width: 500px;
    height: 700px;
}

#control-pane-wrapper {
    margin-top: 10px;
}